<div class="container">
  <form (ngSubmit)="seach()"> 
      <div class="row">

        <div class="form-group col-2">
          <label for="idComp">Company:</label>
          <input class="form-control" type="number" min="0"  [formControl]="idCompForm">
        </div>

        <div class="form-group col-2">
          <label for="idUser">User:</label>
          <select class="form-control" [formControl]= "idUserForm">
            <option value="-1" >Todos</option>
            <option  *ngFor="let usr of usuarios">{{usr}}</option>
          </select>
        </div>

        <div class="form-group col-2">
              <label for="fIn" >Fecha Inicio</label>
              <div class="flex-row d-flex justify-content-center">
                  <div class="input-group input-daterange">
                    <input class="form-control" type="date" [formControl]="fAntForm" />
                  </div>
              </div>

        </div>
        <div class="form-group col-2">
              <label  for="fFin" >Fecha Final</label>
              <div class="flex-row d-flex justify-content-center">
                <div class="input-group input-daterange">                  
                  <input class="form-control" type="date" [formControl]="fActForm" />
                </div>
              </div>
        </div>




        <div class="form-group col-2">
          <label for="inter">Intervalo Tiempo:</label>
          <input class="form-control" type="number" min="0" [formControl]="interForm"/>
        </div>

        <div class="form-group col-2 d-inline-flex align-items-center">
          <button class="btn btn-success" type="submit" (ngSubmit)="seach()"  >Mostrar
          </button>
        </div>

      </div>
  </form>
  <div class="container">
</div>
</div>
<br>
<br>
<div class="row d-flex justify-content-center" *ngIf="mostrarLoading" >
  <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
</div>

<br>


<div class="row d-flex justify-content-center">
  <div class="form-group col-10" *ngIf="mostrarGrafico" style="display: block;" >
    <H1 class="text-center">Gráfico Dinámico</H1>
    <h3 class="text-center">Sesiones Activas v/s Tiempo</h3>
    <canvas baseChart width="300" height="150" 
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>
</div>
